.botao{
    width: 300px;
    height: 55px;
    border: 0;
    border-radius: 8px;
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branco{
    background-color: #fff;
}