body{
    background-image: url(../img/comentarios/pizza-fundo.webp);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header{
    padding-top: 8px;
    padding-left: 8px;
}

main{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.fundo-coments{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fonte);
    height: 80vh;
    width: 100vw;
    border-radius: 20px;
    padding-left: 28px;
    padding-top: 10px;
}


.fundo-coments h1{
    font-weight: 500;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.692);

}

.informacoes{
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: 10px;
}

.informacoes img{
    height: 3vh;
    position: absolute;
    right: 20px;
    bottom: 29em;
}

.fundo-coments .informacoes h2{
    font-size: 24px;
    color: #23CB98;
    font-weight: 500;
}

.informacoes p{
    color: #999999;
    font-size: 12px;
}

.estrelas{
   padding-top: 10px;
   display: flex;
}

.coments{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coment-title {
    padding-top: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.coment-title img{
    height: 20px;
}

.coment-title p{
    font-size:14px ;
    color: rgba(0, 0, 0, 0.692);
    font-weight: 500;
}

.comentario-informacao{
    height: 16vh;
    width: 80vw;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.coment-cima{
    padding-top: 8px;
    display: flex;
}

.comentario-informacao p{
    font-size: 10px;
    width: 80px;
}
.comentario-informacao h1{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.555);
    padding-bottom: 10px;
}
.comentario-informacao h2{
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.459);
}

.coment-cima .estrela img{
    height: 16px;
    position: relative;
    left: 110px;
}

.comentario-informacao h3{
    font-size: 10px;
    width: 90px;
    font-weight: 400;
}

.coment-cima .star img{
    height: 16px;
    position: relative;
    left: 90px;
}