body{
    height: 100vh;
    background-color: #F6EDE5;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body::after{
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(242,119,6,0.5494572829131652) 23%, rgba(255,255,255,0) 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.inicio h1{
    color: var(--cor-fonte);
    font-size: 30px;
}

.inicio p{
    color: var(--cor-fonte);
    font-size: 16px;
  
}

main{
    flex-grow: 1; 
    padding-left: 16px ; 
}

.pesquisar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
   border: none;
    outline: none;
   height: 40px;
   width: 250px; 
   border-radius: 10px;
   padding-left: 10px;
   padding-right: 35px; 

}

input::placeholder{
    font-size: 12px;
    color: #bbb5b5;
    padding-left: 10px;
}

#pesquisa{
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: calc(250px - 30px);
    background-size: 20px;

}

.categoria p{
    color: var(--cor-fonte);
    font-size: 14px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    
}

.favoritas{
    display: flex;
    flex-direction: column;
}

.favoritas p{
    color: var(--cor-fonte);
    font-size: 14px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.favoritas img{
    width: 35vw;
}

.imgFav{
    display: flex;
   
}

.preco-calabresa{
    width:  60px;
    height: 18px;
    background-color: var(--vermelho);
    position: absolute;
    top:14.5rem;
    left: 1.5rem;
    font-size: 10px;
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--cor-fonte);
   
}

.descricao-calabresa{
    width:  112px;
    background-color: rgba(0, 0, 0, 0.507);
    top: 16rem;
    position: absolute;
    font-size: 12px;
    padding: 4px 4px;
    left: 1.5rem;
    border-radius: 0px 0px 0px 8px;
    color: var(--cor-fonte);
}

.descricao-peperoni{
    width:  112px;
    background-color: rgba(0, 0, 0, 0.507);
    top: 16rem;
    position: absolute;
    font-size: 12px;
    padding: 4px 4px;
    left: 9.5rem;
    border-radius: 0px 0px 0px 8px;
    color: var(--cor-fonte);
}

.preco-peperoni{
    width:  60px;
    height: 18px;
    background-color: var(--vermelho);
    position: absolute;
    top:14.5rem;
    left: 9.5rem;
    font-size: 10px;
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--cor-fonte);
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: var( --cor-principal);
    display: flex;
    align-items: center;
    justify-content:space-around;
}

footer .perfil, footer .bebidas, footer .doces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a{
    font-size: 14px;
    color: var(--cor-fonte);
}

.recomendadas{
    display: flex;
    flex-direction: column;
}

.recomendadas img{
    width: 38vw;
}

.recomendadas p{
    color: var(--cor-fonte);
    font-size: 14px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
 
.pizzas-recomendadas{
    display: flex;
} 

.descricao-tomate{
    width:  112px;
    background-color: rgba(0, 0, 0, 0.507);
    top: 23rem;
    position: absolute;
    font-size: 10px;
    padding: 4px 4px;
    left: 1.5rem;
    border-radius: 0px 0px 0px 8px;
    color: var(--cor-fonte);
}

.preco-tomate{
    width:  50px;
    height: 18px;
    background-color: var(--vermelho);
    position: absolute;
    top:21.5rem;
    left: 1.5rem;
    font-size: 9px;
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--cor-fonte);
   
}

.descricao-brotinho{
    width:  112px;
    background-color: rgba(0, 0, 0, 0.507);
    top: 23rem;
    position: absolute;
    font-size: 10px;
    padding: 4px 4px;
    left: 10rem;
    border-radius: 0px 0px 0px 8px;
    color: var(--cor-fonte);
}

.preco-brotinho{
    width:  50px;
    height: 18px;
    background-color: var(--vermelho);
    position: absolute;
    top:21.5rem;
    left: 10rem;
    font-size: 9px;
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--cor-fonte);
   
}

.coca-cola{
    background-color: var(--cor-fonte);
    height: 10vh;
    width: 76vw;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
}

.cerveja{
    background-color: var(--cor-fonte);
    height: 10vh;
    width: 76vw;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
}



.bebidas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bebidas .conteudo-coca a{
    font-weight: 600;
}

.bebidas .conteudo-coca p{
    color: rgba(0, 0, 0, 0.452);
    font-size: 12px;
}

.precos-coca{
    height: 3vh;
    width: 13vw;
    background-color: var(--vermelho);
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteudo-coca{
    width: 40vw;
}

.bebidas .conteudo-cerveja a{
    font-weight: 600;
}

.bebidas .conteudo-cerveja p{
    color: rgba(0, 0, 0, 0.452);
    font-size: 12px;
}

.precos-cerveja{
    height: 3vh;
    width: 13vw;
    background-color: var(--vermelho);
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;

}